{#
# Copyright (C) 2019 GNUnet e.V.
#
# This code is derived from code contributed to GNUnet eV
# by Nikita Ronja <nikita@NetBSD.org>.
#
# Permission to use, copy, modify, and/or distribute this software for
# any purpose with or without fee is hereby granted.
#
# THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL
# WARRANTIES WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED
# WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE
# AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
# TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
# PERFORMANCE OF THIS SOFTWARE.
#
# SPDX-License-Identifier: 0BSD
#}
{% macro newspreview(name) -%}
  <section class="item-preview">
    <header>
      <h3>{{ name['title']|e }}</h3>
      <p class="item-date">
        {{ name['date'] }}
      </p>
    </header>
    <p class="item-abstract">
      {{ name['abstract'] }} [<a href="{% if kwargs|length > 0 %}{{ kwargs['prefix'] }}{% endif %}{{ name['page'] }}" title="{{ name['date']}}">{{ _("read more") }}</a>]
    </p>
  </section>
{% endmacro -%}

{% macro tinylinkpreview(name) -%}
  <a href="{% if kwargs|length > 0 %}{{ kwargs['prefix'] }}{% endif %}{{ name['page'] }}" title="{{ name['date']}}">{{ name['date'] }}: {{ name['title'] }}</a>
{% endmacro -%}
